* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    position: relative;
    overflow: visible;
}

#header_img {
    width: 1440px;
    height: 500px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: auto;
    display: block;
}

nav{
    background-color: #3B241B;
    height: 128px;
}

#bestellapp_logo {
    width: 120px;
    position: relative;
    z-index: 2;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2A1610;
    width: 100vw;
    height: 100vh;
}

.contentWrapperNav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo_img {
    width: 400px;
    z-index: 15;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-49%) translateY(14%);
}

.logo-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 14;
  width: 220px;
  aspect-ratio: 1 / 1;
  background: #3B241B;
  border-radius: 50%;
  box-shadow:
    0 25px 50px rgba(0,0,0,.6);
}

#logo {
    width: 300px;
}

.headline_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;
    padding-top: 120px;
}

.headline {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(57, 48, 34);
    padding: 5px;
}

.subline {
    text-align: center;
    font-size: 18px;
    padding-bottom: 80px;
}

.section_bar {
   background-color: #3B241B;
   height: 60px;
   display: flex;
   margin-bottom: 20px;
}

.section_bar h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.section_bar img {
    padding-bottom: 20px;
}

.contentWrapperBar {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
}

footer {
    background-color: #3B241B;
    height: 60px;
    text-align: center;
}

.contentWrapperFooter {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}