/* ---------------- GLOBAL ---------------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
    scroll-behavior:smooth;
}

body{
    font-family:'Palanquin', sans-serif;
    background-color:#2A1610;
    min-height:100vh;
}

main {
    position: relative;
}

aside {
    position: fixed;
    bottom: 0;
    right: 0px;
    width: 300px;
    height: 93%;
    z-index: 9999;
}

/* ---------------- CONTAINER SYSTEM ---------------- */

.container{
    max-width:1440px;
    margin:0 auto;
    width:100%;
}

/* ---------------- HEADER ---------------- */

header{
    position:relative;
    overflow:visible;
}

nav{
    background-color:#3B241B;
    height:128px;
}

.contentWrapperNav{
    max-width:1440px;
    width:100%;
    margin:0 auto;
    padding:0 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

#bestellapp_logo{
    width:120px;
    position:relative;
    z-index:2;
}

#menuIcon{
    cursor:pointer;
}

#header_img{
    max-width:1440px;
    width:100%;
    height:500px;
    object-fit:cover;
    margin:auto;
    display:block;
}

/* ---------------- LOGO HERO ---------------- */

.logo-wrapper{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,50%);
    z-index:14;
    width:220px;
    aspect-ratio:1/1;
    background:#3B241B;
    border-radius:50%;
    box-shadow:0 25px 50px rgba(0,0,0,.6);
}

#logo_img{
    width:400px;
    z-index:15;
    margin:auto;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-49%) translateY(14%);
}

/* ---------------- HEADLINE ---------------- */

.headline_container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    padding-top:120px;
}

.headline{
    font-size:48px;
    font-weight:bold;
}

.rating{
    display:flex;
    align-items:center;
    gap:5px;
    background-color:rgb(57,48,34);
    padding:5px;
}

.subline{
    text-align:center;
    font-size:18px;
    padding-bottom:60px;
}

/* ---------------- MENU NAVIGATION ---------------- */

.menu_navigation{
    display:flex;
    justify-content:center;
    gap:64px;
    font-size:20px;
    font-weight:bold;
    border:1px solid #D4AF37;
    border-radius:5px;
    padding:12px 0;
    margin:60px auto 40px auto;
    max-width:1440px;
}

.menu_navigation a{
    text-decoration:none;
}

.menu_navigation a:hover{
    text-decoration:underline;
}

/* ---------------- SECTION BAR (FULL WIDTH) ---------------- */

.section_bar{
    background-color:#3B241B;
    height:60px;
    width:100%;
    display:flex;
    margin:32px 0 20px 0;
}

.contentWrapperBar{
    display:flex;
    align-items:center;
    gap:16px;
    padding-left:30px;
}

.section_bar h2{
    font-size:40px;
    font-weight:bold;
}

.section_bar img{
    padding-bottom:20px;
}

/* ---------------- MENU LAYOUT ---------------- */

.menuLayout{
    display:grid;
    grid-template-columns:1fr 320px;
    max-width:1440px;
    margin:0 auto;
}

/* ---------------- BASKET ---------------- */

.basketWrapper{
    padding:16px;
    position: absolute;
}

.basket{
    background-color:#9d6e5bcc;
    border-radius:8px;
    border:1px solid #D4AF37;
    padding:16px;
    position:sticky;
    top:140px;
    height:570px;
}

.basketTitle{
    margin-bottom:16px;
}

#dishWrapper{
    overflow-y:auto;
    max-height:300px;
}

/* ---------------- FOOTER ---------------- */

footer{
    background-color:#3B241B;
    height:60px;
    text-align:center;
}

.contentWrapperFooter{
    max-width:1440px;
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    height:100%;
}

footer a{
    text-decoration:none;
}

footer a:hover{
    text-decoration:underline;
}

/* ---------------- UTILITY ---------------- */

.hideElement{
    display:none;
}

.showElement{
    display:block;
}

.centered{
    display:flex;
    flex-direction:column;
    align-items:center;

    gap:8px;
    padding:16px;
}

.right{
    display:flex;
    justify-content:end;
    padding:16px;
}

/* ---------------- MOBILE BASKET ---------------- */

#basketMobileBar{
    display:none;
    padding: 16px 24px;
    border: 1px solid #D4AF37;
    border-radius: 0 0 10px 10px;
    background-color: #3B241B;
}

.mobileBasketWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#mobileBasket {
    cursor: pointer;
}