* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('assets/img/background.jpg');
    background-size: cover;
    color: #333;
}

