.basketTitle {
    text-align: center;
    padding-bottom: 16px;
    text-decoration: underline;
}

.dishContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

.dishSubline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishContainer img {
    width: 24px;
    cursor: pointer;
}

hr {
    border: 2px solid white;
}

.priceInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 12px;
}

.priceContainer {
    display: flex;
    flex-direction: column;
}

.textArea {
    display: flex;
    flex-direction: column;
}

.priceArea {
    display: flex;
    flex-direction: column;
    align-items: end;
}